---
import Layout from 'layout:BaseLayout';
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';

import Markdown from '@astrojs/markdown-component';

import experience from '@data/experience.json';
import pullRequests from '@data/pull-request.json';

---


<Layout title="Résumé">
  <div class="flex relative ">
  <div class="sticky top-8 h-screen overflow-y-auto  p-8 w-64 hidden sm:block">

    <List>
      <div class="pb-2 hover:underline"><a href="#goal">Goal &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#expertise">Expertise &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#experience">Experience &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#pull-requests">Merged open source pull requests  &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#conferences">Conferences &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#education">Education &rsaquo;</a></div>
    </List>
  </div>
  <div class="p-8 ">


  <Section id="goal">
    <H2>Goal</H2>
    <P>I am a seasoned Swift developer, specializing in iOS. I can lead and mentor your developer teams. As a creative, I can help your product teams design iOS's features.</P>
  </Section>


  <div class="block sm:hidden">
  <Section id="contents">

    <H2>Contents</H2>

    <List>
      <ListItem><Link href="#skills">Skills</Link></ListItem>
      <ListItem><Link href="#experience">Experience</Link></ListItem>
      <ListItem><Link href="#pull-requests">Merged open source pull requests</Link></ListItem>
      <ListItem><Link href="#conferences">Conferences</Link></ListItem>
      <ListItem><Link href="#education">Education</Link></ListItem>
    </List>

  </Section>
  </div>





  <Section id="skills">
    <H2>Skills</H2>

    <List>
      <ListItem>Swift, SwiftUI, UIKit, Xcode, VIPER</ListItem>
      <ListItem>Unit testing, UI testing,</ListItem>
      <ListItem>Vapor, GRDB, XcodeGen</ListItem>
      <ListItem>Terraform, Kubernetes, Docker</ListItem>
      <ListItem>Redis, Postgres, MySQL</ListItem>
      <ListItem>React, NodeJS, JavaScript, Astro</ListItem>
      <ListItem>Kotlin, JetPack Compose</ListItem>
      <ListItem>Git, CI/CD</ListItem>
      <ListItem>Figma, PaintCode, Inkscape, ImageMagick, ffmpeg</ListItem>
    </List>

  </Section>

  <Section id="experience">
    <H2>Experience</H2>

    <List>
      {experience.map(x => (
      <ListItem>
        <Link href={x.url}>{x.name}</Link>
        <div class="prose">{x.capacity}, {x.timeframe}</div>
        <List level="1">
          {x.items.map(item => (
          <ListItem><span class="prose prose-p:inline prose-a:underline
          prose-a:text-blue-900
          prose-a:hover:text-blue-600"><Markdown>{item}</Markdown></span></ListItem>
          ))}
        </List>
      </ListItem>
    ))
    }
    </List>
  </Section>


  <Section id="pull-requests">
    <H2>Merged open source pull requests</H2>

    <List>
    {
      pullRequests.map((pr) => (
        <ListItem>
          <Link href={pr.url}>{pr.repo}#{pr.pr}</Link>
        </ListItem>
      ))
    }
    </List>
  </Section>

  <Section id="conferences">
    <H2>Conferences</H2>
    <List>
      <ListItem><Link href="http://developer.apple.com/wwdc/">WWDC '12</Link>, San Francisco</ListItem>
      <ListItem><Link href="http://developer.apple.com/wwdc/">WWDC '09</Link>, San Francisco</ListItem>
      <ListItem><Link href="https://www.estherderby.com/workshops/psl/">PSL April '13</Link>, Albuquerque</ListItem>
      <ListItem><Link href="http://www.goruco.com/">GoRuCo '12</Link>, New York City</ListItem>
      <ListItem><Link href="http://www.goruco.com/">GoRuCo '13</Link>, New York City</ListItem>
      <ListItem><Link href="http://www.goruco.com/">GoRuCo '10</Link>, New York City</ListItem>
      <ListItem><Link href="http://lssc11.leanssc.org/conference/">LSSC '11</Link>, Long Beach</ListItem>
      <ListItem><Link href="http://atlanta2010.leanssc.org/">LSSC '10</Link>, Atlanta</ListItem>
      <ListItem><Link href="http://phillyemergingtech.com/">ETE '10</Link>, Philadelphia</ListItem>
      <ListItem><Link href="http://us.pycon.org/2008/">PyCon '08</Link>, Chicago</ListItem>
      <ListItem><Link href="http://agile2007.agilealliance.org/">Agile '07</Link>, Washington, D.C.</ListItem>
    </List>
  </Section>

  <Section id="education">
    <H2>Education</H2>

    <List>
      <ListItem>
        <span class="font-bold">Rutgers University</span>, New Brunswick, NJ (Autumn 2000 - Spring 2007)
        <div>M.S. & B.S., Computer Science. Minor in Music</div>

        <List level="1">
          <ListItem>
          <span class="font-bold">Musical notation app with MIDI playback</span>. Concepted the app. Designed the UX. Gathered and guided team of four from concept to delivery. Built using Java Swing.
          </ListItem>
        </List>
      </ListItem>
    </List>

  </Section>

  </div>
  </div>
</Layout>
