---
import Layout from 'layout:BaseLayout';
import { P, Section, Link, ListItem, List, H1, H2, B } from '@elements';

import { marked } from 'marked';

import experience from '@data/experience.json';
import pullRequests from '@data/pull-request.json';

---


<Layout title="Résumé">
  <div class="flex relative ">
  <div class="sticky top-8 h-screen overflow-y-auto  p-8 w-64 hidden sm:block">

    <List>
      <div class="pb-2 hover:underline"><a href="#about">About &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#skills">Skills &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#experience">Past experience &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#pull-requests">Merged open source pull requests  &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#testimonials">Testimonials &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#press">Press &rsaquo;</a></div>
      <div class="pb-2 hover:underline"><a href="#education">Education &rsaquo;</a></div>
    </List>
  </div>
  <div class="p-8 ">


  <Section id="about">
    <H2>About</H2>
    <P>Senior developer with 19+ years building production software for companies such as SiriusXM, the NFL, the Federal Reserve Bank of NY, and the US Army. 
      Experienced tech lead, open source contributor, and DevOps practitioner seeking a role with mentorship or DevRel responsibilities.</P>
  </Section>


  <div class="block sm:hidden">
  <Section id="contents">

    <H2>Contents</H2>

    <List>
      <ListItem><Link href="#about">About</Link></ListItem>
      <ListItem><a href="#skills">Skills &rsaquo;</a></ListItem>
      <ListItem><Link href="#experience">Past experience</Link></ListItem>
      <ListItem><Link href="#pull-requests">Merged open source pull requests</Link></ListItem>
      <ListItem><Link href="#education">Education</Link></ListItem>
      <ListItem><a href="#press">Press &rsaquo;</a></ListItem>
      <ListItem><Link href="#testimonials">Testimonials</Link></ListItem>
    </List>

  </Section>
  </div>


  <Section id="skills">
    <H2>Skills</H2>

    <List>
      <ListItem><B>DevOps:</B> Terraform, Kubernetes, Docker, AWS, AWS CDK, DigitalOcean, </ListItem>
      <ListItem><B>CI/CD:</B>GitHub Actions, GitLab, BitRise CI</ListItem>
      <ListItem><B>Backend databases</B>: Postgres, Supabase, MySQL, Redis</ListItem>
      <ListItem><B>Mobile frontend:</B> Swift, SwiftUI, UIKit, Kotlin</ListItem>
      <ListItem><B>Mobile databases:</B> GRDB, SQLite, Realm</ListItem>
      <ListItem><B>Other languages:</B> TypeScript, JavaScript, NodeJS, AstroJS, React, Python, Kotlin, Java</ListItem> 
      <ListItem><B>Other tools:</B> Figma, ImageMagick, ffmpeg, Final Cut Pro, Pixelmator Pro, Logic Pro</ListItem>
    </List>

  </Section>

  <Section id="experience">
    <H2>Past experience</H2>

    <P>Summary: XP/Agile consulting with Cyrus Innovation from 2007-2014, iOS freelancing from 2014 to 2020, and the pandemic era from 2020 on when I started my online personality, <Link href="https://fullqueuedeveloper.com">Full Queue Developer</Link>. Post-pandemic, I abandoned content-creation, to focus on my app Underway and my client SiriusXM.</P>
    <List>
      {experience.filter(item => !item.hidden).map(x => (
      <ListItem>
        <Link href={x.url} isBold="true">{x.name}</Link>
        <div class="prose">{x.capacity}, {x.timeframe}</div>
        <List level="1">
          {x.items.map(markdownItem => {
            const content = marked.parse(markdownItem);
            return (
          <ListItem><span class="prose prose-p:inline prose-a:underline
          prose-a:text-blue-900
          prose-a:hover:text-blue-600" set:html={content}/></ListItem>
          )})}
        </List>
      </ListItem>
    ))
    }
    </List>
    <P>Full experience available upon request. Clients include The Federal Reserve Bank of NY, Simon & Schuster, and others.</P>
  </Section>


  <Section id="pull-requests">
    <H2>Merged open source pull requests</H2>

    <List>
    {
      pullRequests.map((pr) => (
        <ListItem>
          <Link href={pr.url}>{pr.repo}#{pr.pr}</Link>
        </ListItem>
      ))
    }
    </List>
  </Section>

  <Section id="testimonials">
    <H2>Testimonials</H2>
    <List>
      <ListItem>
        <span class="font-bold">Jared Hagemann</span>, <Link href="https://siriusxm.com/">SiriusXM Pandora</Link> & <Link href="https://www.equalexperts.com">Equal Experts</Link>
        <P>
          A huge thank you to Daniel for his contributions to the Recommendations team at SXM. They were vitally important to many of the features that the Content Services team delivered over the past couple years, frequently going above and beyond to not only build out functionality on new (to SXM) infrastructure, but also creating reusable frameworks / libraries for others to build upon in the future. He doesn't shy away from any technical challenge. His professionalism and excellence will be missed, thank you for everything!
        </P>
      </ListItem>

      <ListItem>
        <span class="font-bold">Jitesh Nambiar</span>, <Link href="https://siriusxm.com/">SiriusXM Pandora</Link>
        <P>Thank you for everything Daniel! Your calm and composure through every challenge brought clarity to the team which is truly appreciated! Wishing you all the best for what's ahead!
        </P>
      </ListItem>

      <ListItem>
        <span class="font-bold">Catherine Davie</span>, <Link href="https://thisisartium.com/">Artium</Link>
        <P>
          Daniel was great to work with on the Android pod of the client's mobile team. He is always gentle and empathetic with clients, regardless of situations that could have been understandably aggravating. Any meeting he facilitated was both fun & smoothly run.</P><P>
          He had a "jump in & learn" attitude to Android development, without complaining that he wasn't on the iOS team (where he has considerable experience). He picked up the tech stack easily and was able to help guide technical decision-making discussions with clients, even though they had more experience in Android. I could count on areas of the codebase where Daniel had contributed would be in a better state after he'd been there.</P><P>
          He also dug into a cross-team task (a CLI tool) that ended up being a can of worms. Despite very real roadblocks, he got it across the line before we rolled off.</P><P>
          I hope to work with Daniel on another engagement soon!
        </P>
      </ListItem>

      <ListItem>
        <span class="font-bold">Cliff Hazelton</span>, CTO at <Link href="https://stash.com">Stash</Link>
        <P>Dan is a dependable employee and a hard worker. During his time at Stash, he has delivered quality code as a member of the iOS team. He has worked seamlessly on a number of high-value epics and features while delivering in a timely fashion. He was involved in a number of projects, including a complete re-write of our iOS mobile app using the VIPER pattern. More recently, Dan has worked as an iOS engineer on our Growth team. He works closely with the Stash Marketing department and his experience as a senior engineer has allowed the team to move quickly while producing quality software with high test coverage.</P>
      </ListItem>
    </List>
  </Section>

 <Section id="press">
    <H2>Press</H2>

    <List>
      <ListItem>
        <Link isBold="true" href="https://iosdevweekly.com/issues/616#comment">iOS Dev Weekly #616</Link>

        <P>This post-WWDC '23 issue featured three of my Swift Macros.<Link href="https://github.com/FullQueueDeveloper/IdentifiedEnumCases">IdentifiedEnumCases</Link> to generate IDs for enumeration cases, <Link href="https://github.com/FullQueueDeveloper/StaticMemberIterable">StaticMemberIterable</Link> to confidently iterate through static members of a type, and <Link href="https://github.com/FullQueueDeveloper/UniquelyTypedID">UniquelyTypedID</Link> to let the compiler confirm you're passing the right kind of ID</P>
      </ListItem>

      <ListItem>
        <Link isBold="true" href="https://iosdevweekly.com/issues/563#RR1Nrdp">iOS Dev Weekly #563</Link>

        <P>"I’m linking to this app from Daniel Ramteke for several reasons. First, it’s an excellent (and free) way to play with the various haptic parameters to get precisely the desired effect. Secondly, Daniel streamed the entire development of this app on his Twitch channel and uploaded all 13 session recordings to YouTube."</P>
      </ListItem>
    </List>
  </Section>

  <Section id="education">
    <H2>Education</H2>

    <List>
      <ListItem>
        <span class="font-bold">Rutgers University</span>, New Brunswick, NJ (Autumn 2000 - Spring 2007)
        <div>M.S. & B.S., Computer Science. Minor in Music</div>

        <List level="1">
          <ListItem>
          <span class="font-bold">Musical notation app with MIDI playback</span>. Concepted the app. Designed the UX. Gathered and guided team of four from concept to delivery. Built using Java Swing.
          </ListItem>
        </List>
      </ListItem>
    </List>

  </Section>

  </div>
  </div>
</Layout>
