---
import Layout from 'layout:BaseLayout';
import { P, Section, Link, ListItem, List, H1, H2 } from '@elements';

import { Markdown } from 'astro/components';

import experience from '@data/experience.json';
import pullRequests from '@data/pull-request.json';

---
<Layout title="Résumé">
  <Section id="resume">
  <H1>Résumé</H1>
  </Section>

  <Section id="goal">
    <H2>Goal</H2>

    <P>A role that combines my creativity, my leadership, and my expertise</P>
  </Section>


  <Section id="contents">

    <H2>Contents</H2>

    <List>
      <ListItem><Link href="#press">Press coverage</Link></ListItem>
      <ListItem><Link href="#active">Active projects</Link></ListItem>
      <ListItem><Link href="#prs">Merged open source pull requests</Link></ListItem>
      <ListItem><Link href="#testimonials">Testimonials</Link></ListItem>
      <ListItem><Link href="#reviews">Reviews</Link></ListItem>
      <ListItem><Link href="#tools">Current tools</Link></ListItem>
      <ListItem><Link href="#expertise">Expertise</Link></ListItem>
      <ListItem><Link href="#experience">Experience</Link></ListItem>
      <ListItem><Link href="#conferences">Conferences</Link></ListItem>
      <ListItem><Link href="#education">Education</Link></ListItem>
    </List>

  </Section>


  <Section id="press">
    <H2>Press coverage</H2>

    <P>Publications highlighting my work</P>

    <List>
      <ListItem>
        <Link href="https://iosdevweekly.com/issues/563#RR1Nrdp">iOS Dev Weekly</Link>
        <div><Link href="https://fullqueuedeveloper.com/haptics-studio">Project: Haptics Studio</Link></div>
        <P>I’m linking to this app from Daniel Ramteke for several reasons. First, it’s an excellent (and free) way to play with the various haptic parameters to get precisely the desired effect. Secondly, Daniel streamed the entire development of this app on his Twitch channel and uploaded all 13 session recordings to YouTube.</P>

      </ListItem>

      <ListItem>
        <Link href="https://viewing.nyc/underway-nyc-app-shows-your-new-york-city-subway-lines-arrival-time-in-real-time/">Viewing NYC</Link>
        <div><Link href="https://underway.nyc">Project: Underway</Link></div>
        <P>Enter Underway NYC, a new iOS App that removes all the extra features and bloat of the transit apps and simply
              shows
              you how many minutes it is until the next train at your station.</P>
      </ListItem>

      <ListItem>
        <Link href="https://brokelyn.com/subway-arrival-time-app/">Brokelyn</Link>
        <div><Link href="https://underway.nyc">Project: Underway</Link></div>
        <P>In addition to the MTA's online Subway Times, which offers the current arrival times by line and station and is accessible from the internet even beyond the subway's hallowed platforms, Underway NYC now offers the same information but in app form and plotted to a subway map.</P>

      </ListItem>

      <ListItem>
        <Link href="https://makespace.com/blog/posts/best-new-york-apps/">MakeSpace</Link>
        <div><Link href="https://underway.nyc">Project: Underway</Link></div>
        <P>Let's face it: Google Maps can only get you so far. &hellip; Made specifically with busy New Yorkers in mind, it's an all-in-one commute compendium.</P>
      </ListItem>

      <ListItem>
        <Link href="https://www.brickunderground.com/live/brick-underground-guide-to-NYC-transit-apps">Brick Underground</Link>
        <div><Link href="https://underway.nyc">Project: Underway</Link></div>
        <P>Should you use it? If you just want to know when the next train is arriving, but don't need step-by-step navigation.</P>
      </ListItem>
    </List>

  </Section>

  <Section id="active">
    <H2>Active projects</H2>
    <List>
      <ListItem>
        <Link href="https://fullqueuedeveloper.com">FullQueueDeveloper</Link> Daily creative narrated programming live stream on Twitch.
      </ListItem>
      <ListItem>
        <Link href="https://underway.nyc">Underway NYC</Link> Real-time data to make decisions while on the way. Underway NYC is for the here and now underground. For iOS and Android.
      </ListItem>
      <ListItem>
        <Link href="https://github.com/FullQueueDeveloper/Sh.git">Sh</Link> The best way to run shell commands from Swift
      </ListItem>
    </List>
  </Section>

  <Section id="pull-requests">
    <H2>Merged open source pull requests</H2>

    <List>
    {
      pullRequests.map((pr) => (
        <ListItem>
          <Link href={pr.url}>{pr.repo}#{pr.pr}</Link>
        </ListItem>
      ))
    }
    </List>
  </Section>

  <Section>
    <H2>Testimonials</H2>

    <List>
      <ListItem>
        <span class="font-bold">Dan Cogan-Drew</span>, CPO at <Link href="https://newsela.com/">Newsela</Link>
        <P>Daniel got along very well with our team and did meaningful work towards helping us to complete our app.</P>
      </ListItem>

      <ListItem>
        <span class="font-bold">Cliff Hazelton</span>, CTO at <Link href="https://stash.com">Stash</Link>
        <P>Dan is a dependable employee and a hard worker. During his time at Stash, he has delivered quality code as a member of the iOS team. He has worked seamlessly on a number of high-value epics and features while delivering in a timely fashion. He was involved in a number of projects, including a complete re-write of our iOS mobile app using the VIPER pattern. More recently, Dan has worked as an iOS engineer on our Growth team. He works closely with the Stash Marketing department and his experience as a senior engineer has allowed the team to move quickly while producing quality software with high test coverage.</P>
      </ListItem>

      <ListItem>
        <span class="font-bold">Shane Donaway</span>, <Link href="https://getgrowflow.com/">GrowFlow</Link>
        <P>
          5 stars, would contract again. I needed something. You gave it to me for a good price. I am happy. Successful project.
        </P>
      </ListItem>
    </List>

  </Section>

  <Section>
    <H2>Reviews</H2>

    <List>
        <ListItem>
          <span class="font-bold">ian.j.mck</span>, December 27, 2021
          <div><Link  href="https://underway.nyc">Project: Underway</Link></div>
          <P>Underway is marvelous. It is the navigation app that I use most consistently on the train, and for good reason. It has exactly the information I need and nothing more, and it executes it perfectly. I know how to read a map. I don’t need colorful directions and an inventive new route that combines ferries, buses, and a dollar van. I want to know when I need to leave my apartment and if it’s worth it to wait for an express train. Underway gets me the information I want and it does it without drama. It also has lots of very thoughtful touches. It works very well offline, and I like that I can send a train tracking link to people I’m meeting so that they can track me live. It’s like flight tracking but for the subway. For all its utility and minimalism, Underway also betrays the meticulousness of its creators. Changes to the subway map are added right away — the walking connection between Times Square and Bryant Park seemed to appear within hours after it opened. Everything works how I need it to, when I need it to. The only thing that might need some more nuanced adjustment is the service change interface, which shows absolutely everything affecting a train at once and can be a touch overwhelming. Other apps do service changes, though. Nothing does what Underway does as well as Underway does it. I haven’t even written an app review in years. I just feel I have a duty to point out the rare thing in our world that is not a disgusting disappointment. This is among them. Bravo!</P>
        </ListItem>
    </List>
  </Section>

  <Section id="expertise">
    <H2>Expertise</H2>

    <List>
      <ListItem>Swift, SwiftUI, UIKit, Xcode, VIPER</ListItem>
      <ListItem>Unit testing, UI testing,</ListItem>
      <ListItem>Vapor, GRDB, XcodeGen</ListItem>
      <ListItem>Terraform, Kubernetes, Docker</ListItem>
      <ListItem>Redis, Postgres, MySQL</ListItem>
      <ListItem>JavaScript, CSS, HTML, Astro</ListItem>
      <ListItem>Kotlin</ListItem>
      <ListItem>Git, CI/CD</ListItem>
      <ListItem>Figma, PaintCode, Inkscape, ImageMagick, ffmpeg</ListItem>
      <ListItem>HEIC, PNG, WebP, H264</ListItem>
    </List>

  </Section>

  <Section id="experience">
    <H2>Experience</H2>

    <List>
      {experience.map(x => (
      <ListItem>
        <Link href={x.url}>{x.name}</Link>
        <div class="prose">{x.capacity}, {x.timeframe}</div>
        <List level="1">
          {x.items.map(item => (
          <ListItem><span class="prose prose-p:inline prose-a:underline
          prose-a:text-blue-900
          prose-a:hover:text-blue-600"><Markdown>{item}</Markdown></span></ListItem>
          ))}
        </List>
      </ListItem>
    ))
    }
    </List>
  </Section>

  <Section id="conferences">
    <H2>Conferences</H2>
    <List>
      <ListItem><Link href="http://developer.apple.com/wwdc/">WWDC '12</Link>, San Francisco</ListItem>
      <ListItem><Link href="http://developer.apple.com/wwdc/">WWDC '09</Link>, San Francisco</ListItem>
      <ListItem><Link href="https://www.estherderby.com/workshops/psl/">PSL April '13</Link>, Albuquerque</ListItem>
      <ListItem><Link href="http://www.goruco.com/">GoRuCo '12</Link>, New York City</ListItem>
      <ListItem><Link href="http://www.goruco.com/">GoRuCo '13</Link>, New York City</ListItem>
      <ListItem><Link href="http://www.goruco.com/">GoRuCo '10</Link>, New York City</ListItem>
      <ListItem><Link href="http://lssc11.leanssc.org/conference/">LSSC '11</Link>, Long Beach</ListItem>
      <ListItem><Link href="http://atlanta2010.leanssc.org/">LSSC '10</Link>, Atlanta</ListItem>
      <ListItem><Link href="http://phillyemergingtech.com/">ETE '10</Link>, Philadelphia</ListItem>
      <ListItem><Link href="http://us.pycon.org/2008/">PyCon '08</Link>, Chicago</ListItem>
      <ListItem><Link href="http://agile2007.agilealliance.org/">Agile '07</Link>, Washington, D.C.</ListItem>
    </List>
  </Section>

  <Section id="education">
    <H2>Education</H2>

    <List>
      <ListItem>
        <span class="font-bold">Rutgers University</span>, New Brunswick, NJ (Autumn 2000 - Spring 2007)
        <div>M.S. & B.S., Computer Science. Minor in Music</div>

        <List level="1">
          <ListItem>
          <span class="font-bold">Musical notation app with MIDI playback</span>. Concepted the app. Designed the UX. Gathered and guided team of four from concept to delivery. Built using Java Swing.
          </ListItem>
        </List>
      </ListItem>
    </List>

  </Section>


</Layout>
